<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897503646009-5sl6tdb8farmqqs33kg2hgj00vq3i1m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897503646009-5sl6tdb8farmqqs33kg2hgj00vq3i1m8</string>
	<key>API_KEY</key>
	<string>AIzaSyB-iE5lznPaqKDgIWMyoAhqjewgVtgZeHE</string>
	<key>GCM_SENDER_ID</key>
	<string>897503646009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.larryHan.knightsApp</string>
	<key>PROJECT_ID</key>
	<string>knightsapp-6d7c5</string>
	<key>STORAGE_BUCKET</key>
	<string>knightsapp-6d7c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897503646009:ios:c40ae25e083cfd430798e8</string>
</dict>
</plist>